---
    const {title} = Astro.props
    import Header from "../Header/Header.astro"
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
        <Header/>
        <div class="slot">
            <slot/>
        </div>
	</body>
    <style>
        body{
            @apply py-2 px-40 pb-10;
            background-image: url('../../../assets/bg.png');
            background-size: 100%;
            background-position: 50% -160px;
            background-repeat: repeat-y;
        }
        .slot{
            @apply w-full;
        }
    </style>
</html>
