<div class="header">
    <div class="menu">
        <a>Movies</a>
        <a>Tv Shows</a>
        <a>Suggest me</a>
    </div>
</div>
<style>
    .header{
        @apply flex flex-row justify-end
    }
    .menu{
        @apply flex flex-row justify-between
    }
    .menu a{
        @apply mx-3 text-2xl
    }
</style>